<div class="form-group row">
	<input type="button" class="btn btn-info col-sm-12" 
	value="Szukaj" (click)="onSearch()"/>
</div>

<table class="table-condensed table-hover">
	<thead>
		<tr>
		<th>Title</th>
		<th>Production Year</th>
		<th>Cast</th>
		<th>Genres</th>
		</tr>
	</thead>
	<tbody *ngIf="displayedMovies">
		<tr *ngFor="let movie of displayedMovies">
			<td>{{movie.title}}</td>
			<td>{{movie.year}}</td>
			<td>{{movie.cast}}</td>
			<td>{{movie.genres}}</td>
		</tr>
	</tbody>
</table>

<div class="form-group row">
	<input type="button" class="btn btn-white col-sm-12" 
	value="Pokarz więcej" (click)="onShowMore()"/>
</div>

<app-movies-by-genre [allMovies]="allMovies"></app-movies-by-genre>
<app-movies-by-cast [allMovies]="allMovies"></app-movies-by-cast>
